<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
  <div class="wrapper">
    <div class="notice"><%= flash[:notice]%></div>
        <div class="row" style="margin-left: 50px;">
          <div class="col-md-6 clearfix">
              <table class="table table-bordered " style="width: 400px;">
                <h2 class="">プロフィール情報</h2>
              <tbody class="text-center">
                  <tr>
                    <th class="table-active">名前</th>
                    <td ><%= @user.name %></td>
                  </tr>
                  <tr>
                    <th class="table-active">郵便番号</th>
                    <td ><%= @user.postal_code %></td>
                  </tr>
                  <tr>
                    <th class="table-active">住所</th>
                    <td ><%= @user.address %></td>
                  </tr>
                  <tr>
                    <th class="table-active">メールアドレス</th>
                    <td ><%= @user.email %></td>
                  </tr>
              </tbody>
              </table>
          </div>
          <div class="col-md-6">
              <%= form_for(@user) do |f| %>
                <h2 class="">編集</h2>
              <tbody class="text-center">

                  <%= f.label :氏名 %>
                  <%= f.text_field :name, class: 'form-control' %>
                  <br />

                  <%= f.label :郵便番号 %>
                  <%= f.text_field :postal_code, class: 'form-control' %>
                  <br />

                  <%= f.label :住所 %>
                  <%= f.text_field :address, class: 'form-control' %>
                  <br />

                  <%= f.label :メールアドレス %>
                  <%= f.text_field :email, class: 'form-control' %>
                  <br />

                  <%= f.label :パスワード %>
                  <%= f.text_field :password, class: 'form-control' %>
                  <br />

              </tbody>
                  <%= f.submit "更新する", class: "btn btn-success" %>
                  <% end %>
          </div>
        </div>
  </div>
</div>
