<h1>Tourisms#index</h1>
<p>Find me in app/views/tourisms/index.html.erb</p>

<p>検索</p>
<%= form_tag(tourisms_index_path, :method => 'get') do %>
  <%= text_field_tag :search %>
  <input type="submit" value="検索" onclick="searchgo()">
<% end %>

<div class="row">
  <div class="col-md-3">
<% @hairetu["rest"].each do |aaa| %>
<div class="shop-list">
<%= image_tag(aaa["image_url"]["shop_image1"]) %>
<%= image_tag(aaa["image_url"]["shop_image2"]) %><br />
<p><%= aaa["name"]%></p>
<p><%= aaa["address"]%></p>
<div id="reviews" data-reviews="<%= aaa["latitude"].to_json %>,<%= aaa["longitude"]%>"></div>
<p><%= aaa["longitude"]%></p>
<p><%= aaa["category"]%></p>
<p>tel：<%= aaa["tel"]%></p>
<p>tel_sub：<%= aaa["tel_sub"]%></p>
<p>営業日：<%= aaa["opentime"]%></p>
<p>定休日：<%= aaa["holiday"]%></p>
<p>アクセス：<%= aaa["access"]["line"]%><%= aaa["access"]["station"]%><%= aaa["access"]["station_exit"]%></p>
<%= link_to "予約サイト", (aaa["url"]) %><br />
<% end %>
</div>
</div>


 <div id="content">
  <h1>現在地周辺のWifiが使えるカフェ</h1>
  <div id="map" style="height: 500px; width: 50%; margin: 2rem auto 0;"></div> <!--mapを表示-->
  <button id="getcurrentlocation">getcurrentlocation</button>
  <ul id="shop-list"></ul> <!--お店の詳細情報を表示-->
</div>

<!-- jqueryの読fみ込む -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- google map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEqzy08A_gnyBRKMkvmFLvemgj0Ch7-Uk&libraries=places"></script>

<script>


// var map;
// var service;
// var infowindow;
// initialize()

// function initialize() {
//   // 位置座標のインスタンスを作成する
//   var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);
//   map = new google.maps.Map(document.getElementById('map'), {
//       center: pyrmont,
//       zoom: 15
//     });
//  //指定位置の半径1500m内のカフェを検索
//   var request = {
//     location: pyrmont,
//     radius: '1500',
//     type: ['cafe']　 // https://developers.google.com/places/supported_types 参照
//   };
//   service = new google.maps.places.PlacesService(map);
//   service.nearbySearch(request, callback);
// }

// function createMarker(latlng, icn)
// {
//   // マーカー作成　　https://developers.google.com/maps/documentation/javascript/examples/marker-simple　参照
//   var marker = new google.maps.Marker({
//     position: latlng,
//     map: map,
//   });
// }

// function callback(results, status) {
//   if (status == google.maps.places.PlacesServiceStatus.OK) {
//     for (var i = 0; i < results.length; i++) {
//       var place = results[i];
//       latlng = place.geometry.location;
//       icn = place.icon;
//       createMarker(latlng, icn);
//     }
//   }
// }

$(function(){

　　　　　　　'use strict';
　　　　　　　　var map;
    var service;
    var infowindow;
    // マップの初期設定
    var pyrmont = new google.maps.LatLng(35.658034,139.701636);
    createMap(pyrmont)

     // 現在地取得
     document.getElementById('getcurrentlocation').onclick = function() {
      geoLocationInit();
    }

    function geoLocationInit() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, fail);

        } else {
          createMap(pyrmont);
      }
    }

   // success
   function success(position) {
     var currentLat = position.coords.latitude;
     var currentLng = position.coords.longitude;
     console.log(currentLat)
     console.log(currentLng)
     var pyrmont = new google.maps.LatLng(currentLat,currentLng);

     createMap(pyrmont)

     CurrentPositionMarker(pyrmont);
      console.log("success");
   }

    // fail
    function fail(pyrmont) {
      createMap(pyrmont);
      console.log("fail");
    }

    function createMap(pyrmont) {

      map = new google.maps.Map(document.getElementById('map'), {
        center: pyrmont,
        zoom: 15
      });

      var marker = new google.maps.Marker({
        position: {
          lat: $('#reviews').data('reviews'),
        },
        map: map
      });
      var marker = new google.maps.Marker({
        position: {
          lat: 35.682703,
          lng: 139.629350,
        },
        map: map
      });
      // nearbysearch(pyrmont)
    }

    function createMarker(latlng, icn, place)
    {
      console.log(latlng);
      var marker = new google.maps.Marker({
        position: latlng,
        map: map
      });

      var placename = place.name;
　　　　　　　　　　// 吹き出しにカフェの名前を埋め込む
      var contentString = `<div class="sample"><p id="place_name">${placename}</p></div>`;

     // 吹き出し
      var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
      content:  contentString// 吹き出しに表示する内容
    });


    marker.addListener('click', function() { // マーカーをクリックしたとき
      infoWindow.open(map, marker); // 吹き出しの表示
    });

      }

    // 現在地のアイコンを表示
    function CurrentPositionMarker(pyrmont) {
        var image = 'http://i.stack.imgur.com/orZ4x.png';
        var marker = new google.maps.Marker({
                position: pyrmont,
                map: map,
                icon: image
            });
        marker.setMap(map);
    }

    // 周辺のカフェを検索
    function nearbysearch(pyrmont) {
        var request = {
          location: pyrmont,
          radius: '1500',
          type: ['cafe']
        };

        service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, callback);

        function callback(results, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
  　　　　　　　　//取得したカフェ情報をそれぞれcreateMarkerに入れて、マーカーを作成
            for (var i = 0; i < results.length; i++) {
              var place = results[i];
              var latlng = place.geometry.location;
              var icn = place.icon;

              createMarker(latlng, icn, place);
            }
          }
        }
    }
});
</script>



