<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- /header -->
<div class="backimage-search">
  <header id="header-section" class="">
    <div class="container">
      <div class="nav-header">
        <h1 id="logo">
          <p>Title</p>
        </h1>
          <nav class="navigation">
            <ul>
              <li>Home</li>
              <li>About</li>
            </ul>
        </nav>
      </div>
    </div>
</header>
<!-- /header -->

<!--検索フォーム-->
  <div class="container">
    <div class="row" style="text-align: center; margin: 250px 0px 250px 0px">
      <div class="col-md-12">
      <p>検索</p>
      <%= form_tag(tourisms_index_path, :method => 'get') do %>
          <%= text_field_tag :search %>
          <input type="submit" value="検索" onclick="searchgo()">
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--検索フォーム-->

<!--mapを表示-->
<div id="content" style="text-align: center;">
  <h1>現在地からお店まで</h1>
  <button id="getcurrentlocation">getcurrentlocation</button>
  <div id="map" style="height: 450px; width: 85%; margin: 2rem auto 0;"></div>
</div>
<!--mapを表示-->


<!--お店の詳細情報を表示-->
<div class="container">
  <div class="row">
    <% @hairetu["rest"].each do |shop| %>
      <div class="col-md-6">
        <div class="shop-list">
          <p class="shop-number"><%= shop["@attributes"]["order"] %></p>
        <%= image_tag(shop["image_url"]["shop_image1"]) %>
        <%= image_tag(shop["image_url"]["shop_image2"]) %><br />
        <div class="shopname" data-shopname="<%= shop["name"] %>"></div>
        <p><%= shop["name"]%></p>
        <p><%= shop["address"]%></p>
        <div class="lat" data-lat="<%= shop["latitude"] %>"></div>
        <div class="lng" data-lng="<%= shop["longitude"] %>"></div>
        <p><%= shop["category"]%></p>
        <p>tel：<%= shop["tel"]%></p>
        <p>tel_sub：<%= shop["tel_sub"]%></p>
        <p>営業日：<%= shop["opentime"]%></p>
        <p>定休日：<%= shop["holiday"]%></p>
        <p>アクセス：<%= shop["access"]["line"]%><%= shop["access"]["station"]%><%= shop["access"]["station_exit"]%></p>
        <%= link_to "予約サイト", (shop["url"]) %><br />
        </div>
      </div>
      <% end %>
    </div>
</div>
<!--お店の詳細情報を表示-->


<!-- jqueryの読fみ込む -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- google map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEqzy08A_gnyBRKMkvmFLvemgj0Ch7-Uk&libraries=places"></script>

<script>


// var map;
// var service;
// var infowindow;
// initialize()

// function initialize() {
//   // 位置座標のインスタンスを作成する
//   var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);
//   map = new google.maps.Map(document.getElementById('map'), {
//       center: pyrmont,
//       zoom: 15
//     });
//  //指定位置の半径1500m内のカフェを検索
//   var request = {
//     location: pyrmont,
//     radius: '1500',
//     type: ['cafe']　 // https://developers.google.com/places/supported_types 参照
//   };
//   service = new google.maps.places.PlacesService(map);
//   service.nearbySearch(request, callback);
// }

// function createMarker(latlng, icn)
// {
//   // マーカー作成　　https://developers.google.com/maps/documentation/javascript/examples/marker-simple　参照
//   var marker = new google.maps.Marker({
//     position: latlng,
//     map: map,
//   });
// }

// function callback(results, status) {
//   if (status == google.maps.places.PlacesServiceStatus.OK) {
//     for (var i = 0; i < results.length; i++) {
//       var place = results[i];
//       latlng = place.geometry.location;
//       icn = place.icon;
//       createMarker(latlng, icn);
//     }
//   }
// }

$(function(){

　　　　　　　'use strict';
　　　　　　　　var map;
    var service;
    var infowindow;
    // マップの初期設定
    var pyrmont = new google.maps.LatLng(35.658034,139.701636);
    createMap(pyrmont)

     // 現在地取得
     document.getElementById('getcurrentlocation').onclick = function() {
      geoLocationInit();
    }

    function geoLocationInit() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, fail);

        } else {
          createMap(pyrmont);
      }
    }

   // success
   function success(position) {
     var currentLat = position.coords.latitude;
     var currentLng = position.coords.longitude;
     console.log(currentLat)
     console.log(currentLng)
     var pyrmont = new google.maps.LatLng(currentLat,currentLng);

     createMap(pyrmont)

     CurrentPositionMarker(pyrmont);
      console.log("success");
   }

    // fail
    function fail(pyrmont) {
      createMap(pyrmont);
      console.log("fail");
    }

    function createMap(pyrmont) {

      map = new google.maps.Map(document.getElementById('map'), {
        center: pyrmont,
        zoom: 15
      });

      // var lat = $('#reviews').data('reviews');

      // var lng = $('#reviewss').data('reviewss');

      var latArray = [];
      var lngArray = [];
      var shopArray = [];
      var makerArray = [];
      var infoArray = [];
      var obj = {};
      $('.lat').each(function(index,data) {
        latArray.push($(this).data().lat);
      })
      obj.lat = latArray;
      $('.lng').each(function(index,data) {
        lngArray.push($(this).data().lng);
      })
      obj.lng = lngArray;
      $('.shopname').each(function(index,data) {
        shopArray.push($(this).data().shopname);
      })
      obj.shopname = shopArray;
      for(var n = 0; n < obj.lat.length; n++){
        makerArray[n] = new google.maps.Marker({
            position: {
            lat: obj.lat[n],
            lng: obj.lng[n],
          },
          map: map,
          label: String(n)
        });
        var contentString = `<div class="sample"><p>${obj.shopname[n]}</p></div>`;
        infoArray[n] = new google.maps.InfoWindow({ // 吹き出しの追加
          content:  contentString// 吹き出しに表示する内容
        });
        makerArray[n].addListener('click', function() { // マーカーをクリックしたとき
          infoArray[n].open(map, makerArray[n]); // 吹き出しの表示
        });
      }
      // nearbysearch(pyrmont)
    }

    function createMarker(latlng, icn, place)
    {
      console.log(latlng);
      var marker = new google.maps.Marker({
        position: latlng,
        map: map
      });

      var placename = place.name;
　　　　　　　　　　// 吹き出しにカフェの名前を埋め込む
      var contentString = `<div class="sample"><p id="place_name">${placename}</p></div>`;

     // 吹き出し
      var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
      content:  contentString// 吹き出しに表示する内容
    });


    marker.addListener('click', function() { // マーカーをクリックしたとき
      infoWindow.open(map, marker); // 吹き出しの表示
    });

      }

    // 現在地のアイコンを表示
    function CurrentPositionMarker(pyrmont) {
        var image = 'http://i.stack.imgur.com/orZ4x.png';
        var marker = new google.maps.Marker({
                position: pyrmont,
                map: map,
                icon: image
            });
        marker.setMap(map);
    }

    // 周辺のカフェを検索
    function nearbysearch(pyrmont) {
        var request = {
          location: pyrmont,
          radius: '1500',
          type: ['cafe']
        };

        service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, callback);

        function callback(results, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
  　　　　　　　　//取得したカフェ情報をそれぞれcreateMarkerに入れて、マーカーを作成
            for (var i = 0; i < results.length; i++) {
              var place = results[i];
              var latlng = place.geometry.location;
              var icn = place.icon;

              createMarker(latlng, icn, place);
            }
          }
        }
    }
});
</script>



